@model AppITInfo.Models.tbl_Teacher
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("College_Pass_Update", "College", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return jQueryAjaxPostImage(this)", data_restUrl = Url.Action("College_Pass_Update", "College", new { id = 0 }) }))
{
    @Html.AntiForgeryToken()
    <h2 style="text-align:center">Edit Profile</h2>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <lable class="control-label col-md-offset-3 col-md-2">
                <b>Old Password</b>
            </lable>
            <div class="col-md-4">
                <input id="OldPassword" type="password" class="form-control" name="OldPassword" required>
            </div>
            <span id='message'></span>
        </div>
        <div class="form-group">
            <lable class="control-label col-md-offset-3 col-md-2">
                <b>New Password</b>
            </lable>
            <div class="col-md-4">
                <input id="Password" type="password" class="form-control" name="Password" required>
            </div>
        </div>

        <div class="form-group">
            <lable class="control-label col-md-offset-3 col-md-2">
                <b>Confirm New Password</b>
            </lable>
            <div class="col-md-4">
                <input id="ConfirmPassword" type="password" class="form-control" name="ConfirmPassword" required>
            </div>
            <span id='message'></span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" id="btnUpdate" value="Update" class="btn btn-default" />
                <a href="~/College/College_Info">Clike Here to go back to the report</a>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

