@model AppITInfo.Models.Tbl_Model_Ans_New
@{


    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

<style>
    @@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

    body {
        background: url(https://dl.dropboxusercontent.com/u/23299152/Wallpapers/wallpaper-22705.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: 'Roboto', sans-serif;
    }

    .login-card {
        padding: 40px;
        width: 1300px;
        background-color: #F7F7F7;
        margin: 0 auto 10px;
        border-radius: 2px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }

        .login-card h1 {
            font-weight: 100;
            text-align: center;
            font-size: 2.3em;
        }

        .login-card input[type=submit] {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            position: relative;
        }

        .login-card input[type=text], input[type=password] {
            height: 44px;
            font-size: 16px;
            width: 100%;
            margin-bottom: 10px;
            -webkit-appearance: none;
            background: #fff;
            border: 1px solid #d9d9d9;
            border-top: 1px solid #c0c0c0;
            /* border-radius: 2px; */
            padding: 0 8px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

            .login-card input[type=text]:hover, input[type=password]:hover {
                border: 1px solid #b9b9b9;
                border-top: 1px solid #a0a0a0;
                -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            }

    .login {
        text-align: center;
        font-size: 14px;
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        height: 36px;
        padding: 0 8px;
        /* border-radius: 3px; */
        /* -webkit-user-select: none;
    user-select: none; */
    }

    .login-submit {
        /* border: 1px solid #3079ed; */
        border: 0px;
        color: #fff;
        text-shadow: 0 1px rgba(0,0,0,0.1);
        background-color: #4d90fe;
        /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
    }

        .login-submit:hover {
            /* border: 1px solid #2f5bb7; */
            border: 0px;
            text-shadow: 0 1px rgba(0,0,0,0.3);
            background-color: #357ae8;
            /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
        }

    .login-card a {
        text-decoration: none;
        color: #666;
        font-weight: 400;
        text-align: center;
        display: inline-block;
        opacity: 0.6;
        transition: opacity ease 0.5s;
    }

        .login-card a:hover {
            opacity: 1;
        }

    .login-help {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }

    .blink {
        font-weight: bold;
    }
</style>


    <div class="card">
        <div class="card-header">
            <center>
                <b style="font-size:18px; font-weight:bold">
                    QUESTION PAPERS FOR MODEL ANSWERS
                </b>
            </center>
        </div>
    </div>
    <br />
    <br />
    <br />

    <form id="form1" style:"align-center">
        <center>
            <table class="AppFormTable" id="Table_Paper" style="background-color: #e7fafe;">
                <thead> </thead>
                <tbody>
                    <tr>

                        <td>
                            <div class="col-md-12">
                                <label style="font-size:17px; font-weight:bold">

                                    Select Paper  ID

                                </label>
                              
                                <div class="form-group">
                                   
                                        @Html.DropDownListFor(model => model.Paper_ID, ViewBag.paper as List<SelectListItem>, new { style = "width: 200px; height:25px;" })<br />
                                    </div>
                                </div>

                        </td>

                        <td>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="button" class="btn btn-primary" id="btn_submit" value="Submit" style="background-color:#61abe1" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>

            </br>
            </br>
            </br>
            </br>
        <center>
            <table class="AppFormTable" id="datatable_" style="width:80%;display:none">
                <tr>
                    <th align="center"><font size="5"> Question Paper</font></th>
                </tr>
                <tr>
                    <td>

                        <table class="DataGrid" cellspacing="0" cellpadding="5" rules="all" style="border-width:1px;border-style:solid;width:100%;background-color: #e7fafe;" border-collapse:collapse;">
                            <thead>
                                <tr>
                                    <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:7%;background-color:#6db2ed">Sr.No.</th>
                                    <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:7%;background-color:#6db2ed">Paper ID</th>
                                    <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:7%;background-color:#6db2ed">Q.No</th>
                                    <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:7%;background-color:#6db2ed">Sub Que</th>
                                    <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:50%;background-color:#6db2ed">Question</th>
                                    <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:50%;background-color:#6db2ed">Model Answer</th>
                                    @*<th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:20%;">Paper path</th>*@

                                </tr>
                            </thead>
                            <tbody id="datatable">
                            </tbody>
                        </table>
                        <br />
                        <br />

                        <table>
                            <tr style="center">
                                <input type="button" class="btn btn-primary" id="btn_Update" value="Submit_Paper" />
                            </tr>
                        </table>
                        <br>
                    </td>
                </tr>
            </table>
        </center>
     

    </form>
    <br />





    <script>
        $(document).ready(function () {
            debugger

            $("#btn_submit").click(function (e) {
                $("#datatable_").show()
                Bind_Part();
            });
        });

        function Bind_Part() {

            $.ajax({
                url: "../Coordinator/Get_Data",
                type: "POST",
                dataType: 'json',
                data: {
                    paper_id: $('#Paper_ID').val()
                },
                success: function (Data) {
                    console.log(Data)
                    var temp = "";

                    if (Data.Result) {
                        $("#datatable").empty();
                        $.each(Data.Response, function (i, data) {
                            debugger;
                            temp += `<tr> <td>` + data.ID + `</td><td>` + data.Paper_ID + `</td><td>` + data.Question_No + `</td><td>` + data.Sub_Question + `</td><td>` + data.Question + `</td> <td style="padding-left:15px">` + `<input type="text"  style="border-width:2px;border-style:solid;width:80%;background-color:white;font-weight: bold;"id=` + data.ID + ` name="Model_Ans" value=` + (data.Model_Ans == null ? "" : data.Model_Ans) + `>` + `</td>></tr>`;

                        });
                        $("#datatable").append(temp);


                    }

                },
                error: function (e1, e2, e3) {
                    Error_Alert(Data.Message);
                }

            });
        }


        $("body").on("click", "#btn_Update", function () {
            debugger
            //Loop through the Table rows and build a JSON array.

            var paper = new Array();
            $(" #datatable tr").each(function () {
                var row = $(this);
                var trans = {};
                debugger
                trans.ID = row.find("td").eq(0).html();
                trans.Paper_ID = row.find("td").eq(1).html();
                trans.Question_No = row.find("td").eq(2).html();
                trans.Sub_Question = row.find("td").eq(3).html();
                trans.Question = row.find("td").eq(4).html();
                trans.Model_Ans = row.find("td:eq(5) input[type='text']").val();
                paper.push(trans);
                console.log(paper)
            });

            $.ajax({
                type: "POST",
                url: "/Coordinator/Tbl_Update",
                data: JSON.stringify(paper),

                contentType: "application/json;",
                dataType: "json",
                success: function (r) {
                    if (r.Result == true) {

                        if (r != 0) {
                            Bind_Part();

                            $(form1)[0].reset();
                            alert(r.Response);

                        }
                    }
                    else {
                        alert(r.Response);
                    }
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
        });

    </script>


